@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<img src= "@Url.Content("~/image/iron-man.jpg")" width="1000" height="750" style="margin-left:auto; margin-right:auto" alt="Iron Man"/>
